main {max-width: 840px;
      margin: 0 auto;
      padding: 1em;
}

main img{ width: 150px;
          height: auto;
          border: 1px solid steeblue;
          padding: 2px;
          box-shadow: 0 0 30px gray;
          margin: 10px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          }

nav a{ color: white;
      padding: 10px;
      display: block;
      text-align: center;
      text-decoration: none;
      background-color: darkblue;
      font-size: 1.2em;
      font-weight: bold;
      margin: 10px;
      border-radius: 10px;
      box-shadow: 0 0 30px gray;
      }
    
aside {width:20em;
      margin:1em;
      border:1px solid rgba(0, 0, 0, 0.2);
      padding: 1em;
      background-color: #eee;
      color: #333;
      text-align: center;}
    
    hi {color: darkblue;}
    
    aside img {width: 200px;
    height: auto;
    }
    
    p {padding: 0;}

  footer { margin-top: 15px;
          border-top: 1px solid #000;
        text-align: center;
      
  }
    
    
    
